# source PDFs (copyrighted review materials)
*.pdf
!ilide.info-civil-service-exam-reviewer-for-2026-pr_9267b51c57b00c6302380d841a15e459.pdf

# python
__pycache__/
*.pyc

# parsed data
parsed_years.json
parsed5.json
